

<h1>Books</h1>

<div>
  <p><%= image_tag @book.user.get_profile_image(100,100) %></p><%#投稿ユーザー画像%>
  <p><%= link_to @book.user.name, user_path(@user) %></p><%#ユーザー名%>
  <p><%= @book.title %></p><%#タイトル%>
  <p><%= @book.body %></p><%#感想%>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</div>
